%h1 Hi there!
%ul
- @structures.each do |structure|
  %li
    = structure.name
    %br
    = structure.description
    %br
    = structure.street
    %br
    = structure.zip_code
    %br
    = structure.subject
    %br
    = image_tag structure.image_url, width: 400, height: 300
